@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display;
    @apply font-thin;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
  h1,
  h2,
  h3 {
    @apply font-semibold;
  }
}

.min-safe-h-screen {
  min-height: calc(100vh - env(safe-area-inset-bottom, 0));
  min-height: -webkit-fill-available; /* for ios safari 15 where safe-area-inset-bottom is 0 */
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}
